article{
        background-color: rgb(212, 189, 228);

        h2{text-align: center;}

        span{color: brown;
        display: inline-block;
        width: 250px;
        height: 50px;
border: 2px dotted brown;}

}