.blog{
    background-color: cadetblue;
    width: 700px;
    margin: 50px;
    box-shadow: 20px 20px 30px;
    color: black;

}
#header{
    background-color: indianred;
    background-image: url('firn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;

    height: 1200px;
text-align: center;}

div{background-color: aqua;}